body
{
  background-color: whitesmoke;
  font-family: alef;
}
.nag
{
  text-align: center;
  color: dimgray;
  font-weight: 900;
  font-size: 30px;
}
.txt
{
  color: dimgray;
  font-size: 20px;
}
.mng
{
  color: dimgray;
  font-size: 25px;
  font-weight: bold;
}
a:link
{
  color: dimgray;
  font-size: 20px;
  text-decoration: underline;
}
a:visited
{
  color: dimgray;
  font-size: 20px;
  text-decoration: underline;
}
a:hover
{
  color: dimgray;
  font-size: 20px;
  text-decoration: underline;
}
a:active
{
  color: dimgray;
  font-size: 20px;
  text-decoration: underline;
}
